html, body{
	background:#ececec; 
}


.md-button
{
	margin: 0px !important;
	min-width: 0 !important;
	
}

md-select
{
	padding-bottom: 26px;
}

md-header
{
	z-index:3;
	position:fixed;left:0;right:0;
}

.md-sticky-no-effect.md-subheader.md-default-theme
{
	background: #dcedc8;
	margin-top: -24px;
	width: 125% !important;
	margin-left: -24px;
}

.md-sticky-clone[sticky-state="active"]
{
	margin-top:0px !important;
}

ul
{
    list-style:none;
}


hr{
	border: 1px solid #B6B6B6;
}




md-input-container.md-default-theme .md-input{
	border-bottom:1px solid #B6B6B6;
}

md-select.md-default-theme .md-select-label.md-placeholder{
	border-bottom:1px solid #B6B6B6;
}

md-input-container.md-default-theme label{
	color:rgba(0,0,0,0.54);
}

.labelCus{
  color:rgba(0,0,0,0.54);
}

.md-whiteframe-z1{
	background: #fff;
	animation: fromBottom 1.3s 1; -webkit-animation: fromBottom 1.3s 1;

}

@media screen and (max-width: 960px) {
	.md-toolbar-tools{
		width: 100%;
	}
    .md-whiteframe-z1{
    	width: 100%;
    }

}

@media screen and (max-width: 599px) {

	.blankspace
	{
          display: none;
    }

}

@media screen and(min-width:768px){
	.fabBtn{
		margin:35px 83%;
	}
}

/*table*/
a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}


.md-breadcrumb {
  padding-left:88px;  
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

.ps-container >.ps-scrollbar-y-rail >.ps-scrollbar-y
{
	width: 3px !important;
}

.ps-container >.ps-scrollbar-y-rail
{
	width: 3px !important;
}

.md-card-right {
   position: relative;
   margin-right:12px;

}
.md-card-right:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 20px;
   border-top: 5px solid transparent;
   border-left: 10px solid white;
   border-bottom: 5px solid transparent;
   left: 100%;
}

.md-card-left {
   position: relative;
   margin-left:12px;

}
.md-card-left:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 20px;
   border-top: 5px solid transparent;
   border-left: 10px solid white;
   border-bottom: 5px solid transparent;
   right: 100%;
   transform: rotate(180deg);
}

md-card md-card-content
{
	padding: 10px;
}

@keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

#userProfilePic {
	-webkit-animation: scaleAnimation 1.5s 1 ease;
	-moz-animation: scaleAnimation 1.5s 1 ease;
	-o-animation: scaleAnimation 1.5s 1 ease;
}

@-webkit-keyframes scaleAnimation {
from { -webkit-transform:  scale(0.1) }
to { -webkit-transform: scale(1)}
}
@-moz-keyframes scaleAnimation {
from { -moz-transform: scale(0.1) }
to { -moz-transform: scale(1) }
}
@-o-keyframes scaleAnimation {
from { -o-transform:  scale(0.1) translate(0px); }
to { -o-transform: scale(1)  }
}


@media only screen and (max-device-width: 480px) {

	md-toolbar
	{
		margin-right:10% !important;
		margin-left:10% !important;

		
	}

}

