
		
	<md-header src="img/chat.png" name="{{selectedUser}}" style="position:relative;"></md-header>
			
	<!--START OF ANIMATED FLOATING BUTTON-->
	<div ng-controller="floatingButtonControl as ctrl" ng-init="demoPage = 'core'">
		
		<nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
			 active-icon="ion-close-round" resting-icon="ion-plus-round"
			 ng-mouseenter="hovered()" ng-mouseleave="hovered()"
			 toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
			 <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
				 label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
					 
		</nav>
	</div>
	<!--END OF ANIMATED FLOATING BUTTON-->
			
	<!--TEMPORARY FORCE-LOGINS -->
	<md-button class="md-raised" ng-click="login1()" ng-show="loginButton">Dilshan Login</md-button>
	<md-button class="md-raised" ng-click="login2()" ng-show="loginButton">Hiflan Login</md-button>
	<md-button class="md-raised" ng-click="login3()" ng-show="loginButton">Supun Login</md-button>
	<md-button class="md-raised" ng-click="login4()" ng-show="loginButton">Eshwaran Login</md-button>
	<!--TEMPORARY FORCE-LOGINS -->
			
	<div class="container" style="width: 100%;margin-top:40px;" >
		<div ng-scrollbars ng-scrollbars-config="scrollbarConfig">
			<div id='chatContentLarge'>
			<!--THIS IS THE CHAT CONTENT HOLDER-->
			</div>
		</div>
		<!--CHAT INPUT-->
		<md-input-container flex style="width:90%;bottom:0;position:absolute;padding-bottom:10px">
			<label>Type here...</label>
			<input type="text" ng-model="currentMessage" ng-keypress="sendMessage($event)" ng-disabled="diableChatInput()"/> 
		</md-input-container>
		<!--CHAT INPUT-->	
	</div>
				
