<md-header src="img/Product.png" name="Duo Connect" style="position:relative;">	</md-header>
<img  src="img/wallpaper.jpeg" style="width:100%;height:100%;-webkit-filter:blur(1px) brightness(0.8);">
</img>

<!--center style="margin-top:-70px;"><text style="font-size:50px;text-shadow: 5px 5px 6px rgba(124, 150, 150, 1);">Welcome to Duo Connect</text></center-->

<!--TEMPORARY FORCE-LOGINS -->
	<md-button class="md-raised" ng-click="login1()" ng-show="loginButton">Dilshan Login</md-button>
	<md-button class="md-raised" ng-click="login2()" ng-show="loginButton">Hiflan Login</md-button>
	<md-button class="md-raised" ng-click="login3()" ng-show="loginButton">Supun Login</md-button>
	<md-button class="md-raised" ng-click="login4()" ng-show="loginButton">Eshwaran Login</md-button>
<!--TEMPORARY FORCE-LOGINS -->