<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="css/directive_library.css">
<link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<style>
	
	@font-face {
		font-family: materialFont;
		src: url(fonts/Roboto-Light.ttf);
	}
	.dialButtons
	{
		height:45px;
		width:70px;
		margin: 0px !important;
		min-width: 0 !important;
	}
	.content div center button
	{
		visibility:hidden;
		opacity:0;
		transition:opacity 0.5s linear;

	}
	.content:hover button
	{
		visibility:visible;
		opacity:1;
		transition-delay:0s;
	}
	.md-header-items-container
	{
		padding-left:105px;
	}
</style>
    
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/socket.io-1.2.0.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
<script src="js/uimicrokernel.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/chat.js"></script>
  
  
</head>

<body style="font-family: materialFont;" ng-controller="AppCtrl" >

	<section layout="row" flex style="height:100%;">

		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
			  <!--START OF SIDE NAVIGATION HEADER-->
			<md-toolbar class="md-tall" style="background:-webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(68, 28, 181, 0.6)), color-stop(90%,rgba(70, 62, 208, 0.5))), url(img/garden.png) no-repeat;background-image: url(img/garden.png) ,    -moz-linear-gradient(top, #6cab26, #6ceb86); /* FF3.6+ */">
			  <h2 class="md-toolbar-tools"></h2>
			</md-toolbar>
	
			<center style="z-index:2"><img id="userProfilePic" src="img/profilepic.png" style="margin-top: -55px; border-radius: 100px;"></img></center>
			<div style="margin-top:0px;height:50px;width:100%">
				<center> <text style="margin-top:20px;font-size:23px;color:rgba(0,0,0,0.54)">{{currentUser}}</text></center>
			</div>
			<!--END OF SIDE NAVIGATION HEADER-->
			  <md-content class="md-padding">
			  
				<md-tabs md-dynamic-height md-border-bottom>
				   <!--START OF ONLINE USERS-->
				  <md-tab label="Online" >
					<md-content class="md-padding">
						<div class="row" style="margin-bottom:20px;height:50px;z-index:4">
								<md-input-container style="padding-bottom:0px;" >
									  <label><md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_search_24px.svg" style="fill: #b0b0b0;"></md-icon>&nbsp;&nbsp;Search</label>
									  <input id="searchinput" ng-model="filter.userName" >
								</md-input-container>
							</div>
						 <md-list>
							  <!--md-subheader class="md-no-sticky">3 line item</md-subheader-->
							  <md-list-item class="md-3-line"  ng-repeat="person in allUsers | filter:filter.userName| orderBy: 'userName'"  ng-click="selectUser(person)">
								 <img ng-src="img/1.png" class="md-avatar" alt="">
								<div class="md-list-item-text">
								  <p>{{person.userName}}</p>
								</div>
							  </md-list-item>
						  </md-list>
						
		
						

				 
						
					  
				
					</md-content>
				  </md-tab>
				  <!--END OF ONLINE USERS-->
				  
				   <!--START OF DIALPAD-->
				  <md-tab label="Softphone">
					<md-content class="md-padding" ng-controller="DialCtrl">
						<center>
							<div class="row" style="margin-top:12px;border-bottom:1px solid #b6b6b6;">
								<input style="border:none;width:80%;text-align:right;font-size:24px" ng-model="dialingNumber"></input>
								<md-button ng-click="backspace()">
									<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_backspace_48px.svg" style="fill: #b0b0b0;">
									</md-icon>
								</md-button>
							</div>

							<div style="font-size:24px">
								<div class="row">
									<md-button class="dialButtons" style="background:url(img/Dialpad/1.png)" ng-click="changeNumber('1')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/2.png)" ng-click="changeNumber('2')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/3.png)" ng-click="changeNumber('3')">&nbsp;</md-button>
								</div>
								<div class="row">
									<md-button class="dialButtons" style="background:url(img/Dialpad/4.png)" ng-click="changeNumber('4')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/5.png)" ng-click="changeNumber('5')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/6.png)" ng-click="changeNumber('6')">&nbsp;</md-button>
								</div>
								<div class="row">
									<md-button class="dialButtons" style="background:url(img/Dialpad/7.png)" ng-click="changeNumber('7')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/8.png)" ng-click="changeNumber('8')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/9.png)" ng-click="changeNumber('9')">&nbsp;</md-button>
								</div> 
								<div class="row">
									<md-button class="dialButtons" style="background:url(img/Dialpad/star.png)" ng-click="changeNumber('*')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/0.png)" ng-click="changeNumber('0')">&nbsp;</md-button>
									<md-button class="dialButtons" style="background:url(img/Dialpad/hash.png)" ng-click="changeNumber('#')">&nbsp;</md-button>
								</div>
							</div>
						  
							<md-button id="decline" class="md-fab" aria-label="" style="margin-top:10px;background:#01c853">
								<md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_call_48px.svg"></md-icon>
							</md-button>
						</center>
					</md-content>
				  </md-tab>
				  <!--END OF DIALPAD-->
				  
			
				  </md-tabs>
			  </md-content>
		</md-sidenav>
    
   

		
		<md-content flex ng-init="loginButton=true;" style="background:url(img/blur-background12.jpg)">
		
			<!--div ui-view></div-->
			
			<div style='animation: fromTop 1.3s 1; -webkit-animation: fromTop 1.3s 1;'>
				<!--APP DETAILS START-->
				<div style='float:left;' ng-init='showImage=true'>
					<img ng-show='showImage' src='img/chat.png' style='height:42px;width;42px;border-radius:50px;margin-top:3px;margin-left:10px'/>
				</div>
				<div style='float:left;margin-top:12px;margin-left:8px;'>
					<label style='font-size:23px;font-weight:700'>{{selectedUser}}</label>
				</div>
				<!--APP DETAILS END-->
				
				<!--ACTION BUTTONS START-->
				<div style='float:right;margin-right:10px'>
					<md-button aria-label='First Button'>
						<md-icon md-svg-src='bower_components/material-design-icons/content/svg/production/ic_remove_24px.svg' style='width:25px'></md-icon>
					</md-button>
					<md-button aria-label='First Button'>
						<md-icon md-svg-src='bower_components/material-design-icons/image/svg/production/ic_add_to_photos_24px.svg' style='width:25px'></md-icon>
					</md-button>
					<md-button aria-label='First Button'><md-icon md-svg-src='bower_components/material-design-icons/navigation/svg/production/ic_close_18px.svg' style='width:25px'>
						</md-icon>
					</md-button>
				</div>
				<!--ACTION BUTTONS END-->
			</div>
			
			<!--START OF ANIMATED FLOATING BUTTON-->
			<div ng-controller="floatingButtonControl as ctrl" ng-init="demoPage = 'core'">
				
				<nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
					 active-icon="ion-close-round" resting-icon="ion-plus-round"
					 ng-mouseenter="hovered()" ng-mouseleave="hovered()"
					 toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
					 <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
						 label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
							 
				</nav>
			</div>
			<!--END OF ANIMATED FLOATING BUTTON-->
					
			<!--TEMPORARY FORCE-LOGINS -->
			<md-button class="md-raised" ng-click="login1()" ng-show="loginButton">Dilshan Login</md-button>
			<md-button class="md-raised" ng-click="login2()" ng-show="loginButton">Hiflan Login</md-button>
			<md-button class="md-raised" ng-click="login3()" ng-show="loginButton">Supun Login</md-button>
			<md-button class="md-raised" ng-click="login4()" ng-show="loginButton">Eshwaran Login</md-button>
			<!--TEMPORARY FORCE-LOGINS -->
					
			<div class="container" style="width: 100%;margin-top:40px;" >
				<div ng-scrollbars ng-scrollbars-config="scrollbarConfig">
					<div id='chatContentLarge'>
					<!--THIS IS THE CHAT CONTENT HOLDER-->
					</div>
				</div>
				
				<!--div layout layout-sm="column" layout-margin>
				<md-input-container flex>
					<label>Type here...</label>
					<input type="text" ng-model="what" /> 
				</md-input-container>
				 <md-select flex placeholder="Product Sub Category" ng-model="someVal" class="mdselect">
					  <md-option value="1">One</md-option>
					  <md-option value="2">Two</md-option>
				  </md-select>
				</div-->
				
				<!--CHAT INPUT-->
				<md-input-container flex style="width:90%;bottom:0;position:absolute;padding-bottom:10px">
					<label>Type here...</label>
					<input type="text" ng-model="currentMessage" ng-keypress="sendMessage($event)" ng-disabled="diableChatInput()"/> 
				</md-input-container>
				<!--CHAT INPUT-->	
			</div>
		</md-content>
    </section>

</body>
</html>
