<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
   <head>
      <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" href="css/directive_library.css">
      <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <style>
         @font-face {
         font-family: materialFont;
         src: url(fonts/Roboto-Light.ttf);
         }
      </style>
      <script src="js/jquery-2.1.3.min.js"></script>
      <script src="js/socket.io-1.2.0.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
      <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
      <script src="js/uimicrokernel.js"></script>
      <script src="js/directivelibrary.js"></script>
      <script src="js/invoice.js"></script>
      <style type="text/css">
         @-moz-document url-prefix() {
         md-select{
         margin-top: 14px !important;
         }
         }
         .md-childApp-containerSection{
         position:relative;
         top:0;
         left:0;
         height:100%;
         width:100%;
         overflow:hidden;
         background:#ececec;
         }
         .md-childApp-headerSection{
         position:relative;
         top:0;
         left:0;
         width:100%;
         height:54px;
         padding:0px 8px 0px 8px;
         margin:0;
         }
         .md-childApp-contentContainerSection{
         position:relative;
         top:0px;
         left:0;
         width:100%;
         height:calc(100% - 54px);
         margin:0;
         box-sizing:border-box;
         overflow:auto;
         }
         .action {
         background: #fff url(img/search.png) no-repeat;
         text-indent:50px;
         margin-top:0px;
         margin-bottom:10px;
         border-radius:6px;
         border: 1px solid #ccc;
         height:34px;
         }
      </style>
   </head>
   <body style="font-family: materialFont;" ng-controller="AppCtrl" >
      <!--ALL CONTENT START-->
      <div class="md-childApp-containerSection">
         <!--HEADER START-->
         <div class="md-childApp-headerSection">
            <md-header src="img/chat.png" name="Invoice"></md-header>
            <!--START OF ANIMATED FLOATING BUTTON-->
            <div ng-controller="floatingButtonControl as ctrl" ng-init="demoPage = 'core'">
               <nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
                  active-icon="ion-close-round" resting-icon="ion-plus-round"
                  ng-mouseenter="hovered()" ng-mouseleave="hovered()"
                  toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
                  <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
                     label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
               </nav>
            </div>
            <!--END OF ANIMATED FLOATING BUTTON-->
         </div>
         <!--div ui-view></div-->
         <!---MAIN CONTENT START-->
         <div class="md-childApp-contentContainerSection" layout="column" layout-align="center center" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
            <!--START OF 960px FRAME LIMIT-->
            <div layout="column" layout-fill style="margin:0 auto; max-width:960px;">
               <!--input class="action" type="text" placeholder="Action" ng-model="what"/--> 
               <div ng-controller="ActionCtrl as ctrl" style="margin-bottom:8px;">
                  <md-autocomplete
                     ng-keypress="enter($event)"
                     ng-disabled="ctrl.isDisabled"
                     md-no-cache="ctrl.noCache"
                     md-selected-item="ctrl.selectedItem"
                     md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                     md-search-text="ctrl.searchText"
                     md-selected-item-change="ctrl.selectedItemChange(item)"
                     md-items="item in ctrl.querySearch(ctrl.searchText)"
                     md-item-text="item.display"
                     md-min-length="0"
                     placeholder="Action Search">
                     <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                     </md-item-template>
                     <md-not-found>
                        No matches found for "{{ctrl.searchText}}".
                     </md-not-found>
                  </md-autocomplete>
               </div>
               <!--WHITEFRAME START-->
               <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;">
                  <!--ALL TABS START-->
                  <md-tabs md-dynamic-height md-border-bottom style="width:960px;">
                     <!--FIRST TAB START-->
                     <md-tab label="Invoice">
                        <!--FORM START-->
                        <form name="editForm">
                           <md-content flex>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5">
                                    <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                                 </div>
                                 <div flex="20" style="margin-top:35px;">
                                    <label style="font-weight:700">New Invoice</label>
                                 </div>
                                 <md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;" flex>
                                 <md-optgroup label="Assign to Customers">
                                    <md-select-label>{{ user ? user.name : 'Assign to Customers' }}</md-select-label>
                                    <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                                 </md-select>
                                 <md-input-container flex>
                                    <label>Invoice Number</label>
                                    <input type="text" ng-model="what" /> 
                                 </md-input-container>
                                 <!--md-select placeholder="Product Type" ng-model="someModel" flex>
                                    <md-optgroup label="Product Type">
                                    <md-option value="1">One</md-option>
                                    <md-option value="2">Two</md-option>
                                    </md-select-->
                              </div>
                              <div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
                                 <!--KEEP BLANK SPACE - ask why-->
                                 <div flex="5" class="blankspace">	
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <!--KEEP BLANK SPACE - ask why-->
                                 <md-input-container flex>
                                    <label>Billing Address</label>
                                    <textarea maxlength="200" type="text">
                                    </textarea>
                                 </md-input-container>
                                 <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                    <md-chip-template>
                                    <strong>{{$chip}}</strong>
                                    <em>(fruit)</em>
                                    </md-chip-template>
                                    </md-chips-->
                              </div>
                              <div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
                                 <div flex="5" class="blankspace">	
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-select ng-model="term" md-on-open="loadterms()" style="min-width: 200px;" flex>
                                   <md-optgroup label="Select a Terms">
                                    <md-select-label>{{ term ? term.name : 'Select a Terms' }}</md-select-label>
                                    <md-option ng-value="term" ng-repeat="term in terms">{{term.name}}</md-option>
                                 </md-select>
                                 <md-date-picker model="date" label="Date" dialog-md-theme="datePickerTheme" flex/>
                                 <!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
                                    <md-chip-template>
                                    <strong>{{$chip}}</strong>
                                    <em>(fruit)</em>
                                    </md-chip-template>
                                    </md-chips-->
                              </div>
                              <div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
                                 <div flex="5" class="blankspace">	
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label>PO Number</label>
                                    <input type="text" ng-model="ponumber" /> 
                                 </md-input-container>
                                 <md-date-picker model="duedate" label="Due Date" dialog-md-theme="datePickerTheme" flex/>
                              </div>
                              <div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
                                 <div flex="5" class="blankspace">	
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label>Comment</label>
                                    <textarea maxlength="200" type="text" ng-model="comment"></textarea>  
                                 </md-input-container>
                              </div>
                              <md-divider></md-divider>



                              

                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5">
                                 <img src="img/material alperbert/avatar_tile_i_28.png" style="margin-top:22px;border-radius:20px"/>
                                 </div>
                                 <div flex="20" style="margin-top:35px;">
                                    <label style="font-weight:700">Items</label>
                                 </div>
                               
                              </div>
                           <div layout layout-sm="column" layout-margin>
                                 <md-select ng-model="service" md-on-open="loadservice()" flex="20" >

                                  <md-optgroup label="Select Service Name">
                                    <md-select-label>{{ service ? service.name : 'Service Name' }}</md-select-label>
                                    <md-option ng-value="service" ng-repeat="service in services">{{service.name}}</md-option>
                                 </md-select>
                                 <md-input-container flex>
                                    <label>Quantity</label>
                                    <input type="text" name="quantity" ng-model="project.quantity">

                                  


                                 </md-input-container>
                                 <md-select flex ng-model="unit" md-on-open="loadunit()" >

                                  <md-optgroup label="Select a Units">
                                    <md-select-label>{{ unit ? unit.name : 'Unit' }}</md-select-label>
                                    <md-option ng-value="unit" ng-repeat="unit in units">{{unit.name}}</md-option>
                                 </md-select>
                                 <md-input-container flex>
                                    <label>Price</label>
                                    <input type="text" ng-model="price" /> 

                                   

                                 </md-input-container>
                                 <md-input-container flex>
                                    <label> Discount %</label>
                                    <input type="text" ng-model="discount" /> 
                                  

                                 </md-input-container>
                                 <md-select ng-model="tax" md-on-open="loadtax()" flex>
                                    <md-optgroup label="Select a Tax">
                                    <md-select-label>{{ tax ? tax.name : 'Tax' }}</md-select-label>
                                    <md-option ng-value="tax" ng-repeat="tax in taxs">{{tax.name}}</md-option>
                                 </md-select>
                                 <md-input-container flex>
                                    <label>Amount</label>
                                    <input type="text" ng-model="amount" disabled="disabled" /> 
                                 </md-input-container>
                              </div>



                              <div layout layout-sm="column" layout-margin>
                                
                                 <md-input-container flex>
                                    <label>Comment (Optional)</label>
                                    <textarea maxlength="200" type="text" ng-model="comment"></textarea>  
                                 </md-input-container>
                              </div>
                              <md-divider></md-divider>



                           


                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5">
                                    <img src="img/material alperbert/avatar_tile_u_28.png" style="margin-top:22px;border-radius:20px"/>
                                 </div>
                                 <div flex="20" style="margin-top:35px;">
                                    <label style="font-weight:700">Upload file</label>
                                 </div>
                                
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>




                                 <file-up-loader osNamespace="com.duosoftware.com" osClass="testupload" label="Upload files" flex ></file-up-loader>


                            
                              </div>

                           

                              <md-divider></md-divider>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5">
                                    <img src="img/material alperbert/avatar_tile_t_28.png" style="margin-top:22px;border-radius:20px"/>
                                 </div>
                                 <div flex="20" style="margin-top:35px;">
                                    <label style="font-weight:700">Total Price</label>
                                 </div>
                                 <md-input-container flex>
                                    <label> Sub Total</label>
                                    <input type="text" ng-model="subtotal" value="0" /> 
                                  
                                 </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label> Discount %</label>
                                    <input type="text" ng-model="discount1" /> 
                                    
                                 </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label>Sales Tax</label>
                                    <input type="text" ng-model="salestax" /> 
                                   
                                 </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label>Another Tax</label>
                                    <input type="text" ng-model="anothertax" /> 
                                   
                                 </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">		 							
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label> Shipping</label>
                                    <input type="text" ng-model="shipping" /> 
                                   
                                 </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label> Total USD</label>
                                    <input type="text" ng-model="total" /> 
                                    
                                 </md-input-container>
                              </div>
                              <md-divider></md-divider>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5">
                                    <img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
                                 </div>
                                 <div flex="20" style="margin-top:35px;">
                                    <label style="font-weight:700">Optional</label>
                                 </div>
                                 <md-select flex ng-model="payment" md-on-open="onlinepayment()" >

                                  <md-optgroup label="Select Payment Type">
                                    <md-select-label>{{ payment ? payment.name : 'Select Payment Type' }}</md-select-label>
                                    <md-option ng-value="payment" ng-repeat="payment in payments">{{payment.name}}</md-option>
                                 </md-select>
                                 <!--
                                    -->
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <div ng-controller="BasicDemoCtrl as ctrl" layout="column" class="chipsdemoBasicUsage" flex>
                                    <md-content class="md-padding" layout="column">
                                       <label>Tags (Optional)</label>
                                       <md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly">
                                          <label>Tags (Optional)</label>
                                          <md-chip-template>
                                             <strong>{{$chip}}</strong>
                                          </md-chip-template>
                                       </md-chips>
                                    </md-content>
                                 </div>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <div flex="5" class="blankspace">
                                 </div>
                                 <div flex="20" class="blankspace">
                                 </div>
                                 <md-input-container flex>
                                    <label>Notes</label>
                                    <textarea maxlength="200" type="text" ng-model="note"></textarea>  
                                 </md-input-container>
                              </div>


                               <md-divider></md-divider>



 


                           </md-content>
                        </form>
                        <!--FORM END-->
                     </md-tab>
                     <!--FIRST TAB END-->
                     <!--SECOND TAB START-->
                     <!--	<md-tab label="Additional Information">
                        Another tab
                        
                        	<md-content class="md-padding">
                        		<h1 class="md-display-2">Additional Information</h1>
                        	</md-content>
                        </md-tab>
                        
                        -->
                     <!--SECOND TAB END-->
                  </md-tabs>
                  <!--ALL TABS END-->
               </md-whiteframe>
               <br><br>
               <!--WHITEFRAME END-->
            </div>
            <!--END OF 960px FRAME LIMIT-->
         </div>
         <!---MAIN CONTENT END-->
      </div>
      <!---ALL CONTENT END-->
   </body>
</html>