<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="css/directive_library.css">
<link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<style>
	
	@font-face {
		font-family: materialFont;
		src: url(fonts/Roboto-Light.ttf);
	}

</style>
    
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/socket.io-1.2.0.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
<script src="js/uimicrokernel.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/product.js"></script>
  <style type="text/css">
@-moz-document url-prefix() {
	
	md-select{
		margin-top: 14px !important;
	}
}
.md-childApp-containerSection{
			position:relative;
			top:0;
			left:0;
			height:100%;
			width:100%;
			overflow:hidden;
			background:#ececec;
		}
		
		.md-childApp-headerSection{
			position:relative;
			top:0;
			left:0;
			width:100%;
			height:48px;
			padding:0px 8px 0px 8px;
			margin:0;
			
		}
		
		.md-childApp-contentContainerSection{
			position:relative;
			top:0px;
			left:0;
			width:100%;
			height:calc(100% - 48px);
			margin:0;
			box-sizing:border-box;
			overflow:auto;
		}

</style>
  
</head>

<body style="font-family: materialFont;" ng-controller="AppCtrl" >
	<div class="md-childApp-containerSection">
		<div class="md-childApp-headerSection">
			<div style="float:left;">
				<img src="img/product.png" style="height:45px;width;45px;border-radius:50px;margin-top:2px;margin-left:10px"/>	
			</div>
			<div style="float:left;margin-top:12px;margin-left:8px;">
				<label style="font-size:23px;font-weight:700">Products</label>
			</div>
			<div style="float:right;margin-right:10px">
				<md-button aria-label='First Button'>
					<md-icon md-svg-src='bower_components/material-design-icons/content/svg/production/ic_remove_24px.svg' style="width:25px">
					</md-icon>
				</md-button>
				<md-button aria-label='First Button'>
					<md-icon md-svg-src='bower_components/material-design-icons/image/svg/production/ic_add_to_photos_24px.svg' style="width:25px">
					</md-icon>
				</md-button>
				<md-button aria-label='First Button'>
					<md-icon md-svg-src='bower_components/material-design-icons/navigation/svg/production/ic_close_18px.svg' style="width:25px">
					</md-icon>
				</md-button>
			</div>
			
			<!--START OF ANIMATED FLOATING BUTTON-->
			<div ng-controller="floatingButtonControl as ctrl" ng-init="demoPage = 'core'">
				
				<nav mfb-menu position="{{ctrl.chosen.position}}" effect="{{ctrl.chosen.effect}}"
					 active-icon="ion-close-round" resting-icon="ion-plus-round"
					 ng-mouseenter="hovered()" ng-mouseleave="hovered()"
					 toggling-method="{{ctrl.chosen.method}}" menu-state="ctrl.menuState" main-action="ctrl.mainAction()">
					 <button mfb-button icon="{{button.icon}}" ng-click="ctrl.loc(button.href)"
						 label="{{button.label}}" ng-repeat="button in ctrl.buttons"></button>
							 
				</nav>
			</div>
			<!--END OF ANIMATED FLOATING BUTTON-->
		</div>

		<!--div ui-view></div-->
		
		<div class="md-childApp-contentContainerSection">
			<div layout="column" layout-fill style="margin:0 auto; max-width:960px;">
				<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> 
					<form name="editForm" style="width:960px;">
						<md-content flex>
							<div style="width:100%;height:40px;background:#9FA8DA;"><div layout="row" layout-align="center end"><label style="font-size:20px;font-weight:700;text-shadow: 2px 2px #818181; color:white;margin-top:8px">Product</label></div></div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Product Details</label>
								</div>
								<md-input-container flex>
									<label>Product Code</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-input-container flex>
									<label>Product/Package Description</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<!--md-select placeholder="Product Type" ng-model="someModel" flex>
								  <md-optgroup label="Product Type">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select-->
							</div>
							<div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-input-container flex>
									<label>Print Description</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
									  <md-chip-template>
										<strong>{{$chip}}</strong>
										<em>(fruit)</em>
									  </md-chip-template>
								</md-chips-->
								
								
								
							</div>
						
									<div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-select placeholder="Product Class" ng-model="someModel" flex>
								  <md-optgroup label="Product Class">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								<md-select placeholder="Product Type" ng-model="someModel" flex>
								  <md-optgroup label="Product Type">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								
								
								<!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
									  <md-chip-template>
										<strong>{{$chip}}</strong>
										<em>(fruit)</em>
									  </md-chip-template>
								</md-chips-->
								
								
								
							</div>
							<div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
							<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
							<md-select placeholder="Product Category" ng-model="someModel" flex>
								  <md-optgroup label="Product Class">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								<md-select placeholder="Stock Keeping Unit(SKU)" ng-model="someModel" flex>
								  <md-optgroup label="Product Type">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								</div>
							<md-divider></md-divider>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Standard Pricing</label>
								</div>
								<md-input-container flex>
									<label>Retail Price</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Price Unit" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
							</div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
								</div>
								<div flex="20" style="margin-top:35px;">
								</div>
								<md-input-container flex>
									<label>Quantity</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Quantity Unit" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								<md-input-container flex>
									<label>Max Discount %</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
							</div>
							<md-divider></md-divider>
			
		
						</md-content>
					</form>
				</md-whiteframe><br><br>
				
				<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> 
					<form name="editForm" style="width:960px;">
						<md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Product">
	  <form name="editForm" style="width:960px;">
        						<md-content flex>
							
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Product Details</label>
								</div>
								<md-input-container flex>
									<label>Product Code</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-input-container flex>
									<label>Product/Package Description</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<!--md-select placeholder="Product Type" ng-model="someModel" flex>
								  <md-optgroup label="Product Type">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select-->
							</div>
							<div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-input-container flex>
									<label>Print Description</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
									  <md-chip-template>
										<strong>{{$chip}}</strong>
										<em>(fruit)</em>
									  </md-chip-template>
								</md-chips-->
								
								
								
							</div>
						
									<div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								
								<md-select placeholder="Product Class" ng-model="someModel" flex>
								  <md-optgroup label="Product Class">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								<md-select placeholder="Product Type" ng-model="someModel" flex>
								  <md-optgroup label="Product Type">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								
								
								<!--md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly" flex>
									  <md-chip-template>
										<strong>{{$chip}}</strong>
										<em>(fruit)</em>
									  </md-chip-template>
								</md-chips-->
								
								
								
							</div>
							<div layout layout-sm="column" layout-margin ng-controller="BasicDemoCtrl as ctrl">
							<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
							<md-select placeholder="Product Category" ng-model="someModel" flex>
								  <md-optgroup label="Product Class">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								<md-select placeholder="Stock Keeping Unit(SKU)" ng-model="someModel" flex>
								  <md-optgroup label="Product Type">
								  <md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								</div>
							<md-divider></md-divider>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_s_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Standard Pricing</label>
								</div>
								<md-input-container flex>
									<label>Retail Price</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Price Unit" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
							</div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
								</div>
								<div flex="20" style="margin-top:35px;">
								</div>
								<md-input-container flex>
									<label>Quantity</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Quantity Unit" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
								<md-input-container flex>
									<label>Max Discount %</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
							</div>
							<md-divider></md-divider>
			
		
						</md-content>
						</form>
      </md-tab>
      <md-tab label="Additional Information">
        <md-content class="md-padding">
          <h1 class="md-display-2">Additional Information</h1>
          
        </md-content>
      </md-tab>
    
    </md-tabs>
					</form>
				</md-whiteframe><br><br>
				
				
				<!--md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> 
					<form name="editForm" style="width:960px;">
						<md-content flex>
						<div style="width:100%;height:40px;background:#9FA8DA;"><div layout="row" layout-align="center end"><label style="font-size:20px;font-weight:700;text-shadow: 2px 2px #818181; color:white;margin-top:8px">Additional Information</label></div></div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Product Details</label>
								</div>
								<md-input-container flex>
									<label>Type here...</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Product Sub Category" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
							</div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								<md-input-container flex>
									<label>Type here...</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Product Sub Category" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
							</div>
							<md-divider></md-divider>
							<div layout layout-sm="column" layout-margin>
								<div flex="5">
									<img src="img/material alperbert/avatar_tile_p_28.png" style="margin-top:22px;border-radius:20px"/>
								</div>
								<div flex="20" style="margin-top:35px;">
									<label style="font-weight:700">Product Details</label>
								</div>
								<md-input-container flex>
									<label>Type here...</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Product Sub Category" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
							</div>
							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">	
								</div>
								<div flex="20" class="blankspace">
								</div>
								<md-input-container flex>
									<label>Type here...</label>
									<input type="text" ng-model="what" /> 
								</md-input-container>
								<md-select flex placeholder="Product Sub Category" ng-model="someVal" class="mdselect">
									<md-option value="1">One</md-option>
									<md-option value="2">Two</md-option>
								</md-select>
							</div>
							<md-divider></md-divider>
			
		
						</md-content>
					</form>
				</md-whiteframe--><br><br>
			</div>
		</div>
	</div>
</body>
</html>
