<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="css/directive_library.css">
<link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<style>
	
	@font-face {
		font-family: materialFont;
		src: url(fonts/Roboto-Light.ttf);
	}

</style>
    
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/socket.io-1.2.0.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
<script src="js/uimicrokernel.js"></script>
<script src="js/directivelibrary.js"></script>
<script src="js/chat.js"></script>
  <style type="text/css">
@-moz-document url-prefix() {
    body {
        background-color: red;
    }
	
	md-select{
	margin-top: 14px !important;
	}
}</style>
  
</head>

<body style="font-family: materialFont;" ng-controller="AppCtrl" >

	<section layout="row" flex style="height:100%;">  
	<!--div ui-view></div-->
			<md-header src="img/chat.png" name="{{selectedUser}}" ></md-header>
			  <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
        </md-button>
		
		  <div layout="column" layout-fill style="margin:0 auto; max-width:960px;">
	 <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"> 
   <form name="editForm" style="width:890px;">
		<md-content flex>
		
		
		
				<div layout layout-sm="column" layout-margin>
					<md-input-container flex>
						<label>Type here...</label>
						<input type="text" ng-model="what" /> 
					</md-input-container>
					 <md-select flex placeholder="Product Sub Category" ng-model="someVal" class="mdselect">
						  <md-option value="1">One</md-option>
						  <md-option value="2">Two</md-option>
					  </md-select>
				</div>
				</form>
				</md-whiteframe>
				</div>
		</md-content>
    </section>

</body>
</html>
